.btn-custom {
    display: block; /* Make the button a block element */
    width: auto; /* Let the width be determined by the content, or you can set a specific width */
    margin: 0 auto; /* Auto margin on both sides to center it */
    background-color: #007bff; /* Bootstrap primary color, you can change it */
    color: white; /* Text color */
    border: none; /* Removes the border */
    padding: 10px 20px; /* Adds some padding */
}

.btn-custom:hover {
    background-color: #0056b3; /* Darker shade on hover, feel free to adjust */
    color: #fff; /* Keeps text color white on hover */
}

#login-box::-webkit-scrollbar {
    width: 10px;
}

#login-box::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#login-box::-webkit-scrollbar-thumb {
    background: #888;
}

#login-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#login-box {
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 20px;
    overflow-y: auto; /* Keeps it scrollable */
}
.login-box-content {
    margin-bottom: 20px;
    align-items: center;
}

/* Adjust label and input field alignment */
form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}