{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Approval</title>
    <link rel="stylesheet" href="../../static/users/asset/css/request_profile_deletion.css">
</head>
<body>

    <div class="container forget-password">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="../../static/users/asset/images/profile.jpeg" alt="car-key" border="0">
                            <h2 class="text-center text-uppercase">{{ user.username }}</h2>
    
                            <form id="create_blog" method="POST" enctype="multipart/form-data" class="debit-form">
                                {% csrf_token %}
                                {{ formset.as_p }}
                                <button type="submit" class="submit-button">Update</button>
                                <a class="cancel-button" href="{% url 'mugiwara' %}" role="button">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/users/asset/css/approve_profile_update.css">
    <title>Document</title>
</head>
<body>

    <div class="container forget-password">
        {% if create_account_requests %}
        {% for request in create_account_requests %}
        <div class="card">
            <div class="card-header">
                Request by: {{ request.user }}
            </div>
            <div class="card-body">
                <p><strong>Account Type: </strong>{{ request.data.account_type}}</p>
                <p><strong>Modification Status: </strong>{{ request.data.modification_status}}</p>
                
            </div>
            <div class="card-footer">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ forloop.counter0 }}">
                    <button type="submit" name="action" value="approve" class="submit-button">Approve</button>
                    <button type="submit" name="action" value="reject" class="cancel-button">Reject</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
    
        <div class="card">
            <p><strong>No Account Approval requests.</strong></p>
        </div>
        {% endif %}
    </div>
</body>
</html>

{% endblock %}