{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Approval</title>
    <link rel="stylesheet" href="../../static/users/asset/css/request_profile_deletion.css">
</head>
<body>

    <div class="container forget-password">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="../../static/users/asset/images/profile.jpeg" alt="car-key" border="0">
                            <h2 class="text-center text-uppercase">{{ user.username }}</h2>
    
                            <form id="create_blog" method="POST" enctype="multipart/form-data" class="debit-form">
                                {% csrf_token %}
                                {{ formset.as_p }}
                                <button type="submit" class="submit-button">Update</button>
                                <a class="cancel-button" href="{% url 'mugiwara' %}" role="button">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> -->

{% if create_account_requests %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for request in create_account_requests %}
        <li>
            User: {{ request.user }}
            Data: {{ request.data }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="request_id" value="{{ forloop.counter0 }}">
                <button type="submit" name="action" value="approve">Approve</button>
                <button type="submit" name="action" value="reject">Reject</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No Account Deletion requests.</p>
    {% endif %}
</body>
</html>

{% endblock %}