{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
    <link rel="stylesheet" href="../../static/users/asset/css/accounts.css">
</head>
<body>

    <div class="container forget-password">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="../../static/users/asset/images/profile.jpeg" alt="car-key" border="0">
                            <h2 class="text-center text-uppercase">{{ user.username }}</h2>
                            <form id="create_blog" method="POST" enctype="multipart/form-data" class="debit-form">
                                {% csrf_token %}
                            
                            
                                {{ a1_form.as_p }}
                            
                            
                                {% if a2_form %}
                            
                                {{ a2_form.as_p }}
                            
                                {% endif %}
                                <button type="submit" class="submit-button">Update</button>
                                <a class="cancel-button" href="{% url 'mugiwara' %}" role="button">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> -->

{% for account in accounts %}
    {{account.account_type}}
{% endfor %}

{% endblock %}