{% extends 'users/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Transactions</title>
    <link rel="stylesheet" href="../../static/users/asset/css/all_transactions.css">
</head>
<body>
    <div class="container mt-5">
    <h1 class="mt-5 title">All Transactions</h1>
    <h2>Transactions</h2>
    <table class="table table-bordered shadow p-3 mb-5 bg-white rounded table-striped" data-aos="fade-down" data-aos-delay="50">
        <thead class="table-dark">
            <tr>
                <th>From Account</th>
                <th>To Account</th>
                <th>Status</th>
                <th>Transaction Handler</th>
                <th>Initiated</th>
                <th>Status Changed</th>
                <th>Transaction Type</th>
                <th>Amount</th>
                <th>OTP Verified</th>
                <th>Actions</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                {% if user.is_authenticated %}
                    {% if transaction.amount > 10000 and  user.user.usertype == 'iu_sm' %}
                        <tr>
                            <td>{{ transaction.from_account }}</td>
                            <td>{{ transaction.to_account }}</td>
                            <td>{{ transaction.transaction_status }}</td>
                            <td>{{ transaction.transaction_handler }}</td>
                            <td>{{ transaction.initiated }}</td>
                            <td>{{ transaction.status_changed }}</td>
                            <td>{{ transaction.transaction_type }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td>{{transaction.otp_verified}}</td>
                            <td class="d-flex">
                                <form method="post" action="{% url 'approve_transaction' transaction.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary me-1">Approve</button>
                                </form>
                                <form method="post" action="{% url 'decline_transaction' transaction.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Decline</button>
                                </form>
                            </td>
                            <td>
                                <a href="{% url 'modify_transaction' transaction.id %}" class="btn btn-warning">Modify</a>
                            </td>
                        </tr>
                    {% elif transaction.amount <= 10000 %}
                        {% if user.user.usertype == 'iu_re' %}
                            <tr>
                                <td>{{ transaction.from_account }}</td>
                                <td>{{ transaction.to_account }}</td>
                                <td>{{ transaction.transaction_status }}</td>
                                <td>{{ transaction.transaction_handler }}</td>
                                <td>{{ transaction.initiated }}</td>
                                <td>{{ transaction.status_changed }}</td>
                                <td>{{ transaction.transaction_type }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{transaction.otp_verified}}</td>

                                {%if transaction.transaction_status == 'pending'%}

                                <td class="d-flex">
                                    <form method="post" action="{% url 'approve_transaction' transaction.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary me-1 approve">Approve</button>
                                    </form>
                                    <form method="post" action="{% url 'decline_transaction' transaction.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Decline</button>
                                    </form>
                                </td>
                                <td>
                                    <a href="{% url 'modify_transaction' transaction.id %}" class="btn btn-warning">Modify</a>
                                </td>
                                {%else%}
                                    <td></td>
                                    <td></td>
                                {%endif%}
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endfor %}
        </tbody>
    </table>



    <h2>Payment Requests</h2>
    <table class="table">
        <thead>
            <tr>
                <th>From Merchant</th>
                <th>To Client1</th>
                <th>To Client2 (if transfer)</th>
                <th>Status</th>
                <th>Initiated</th>
                <th>Amount</th>
                <th>Transaction Type</th>
                <th>OTP Verified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in payment_requests %}
                {% if user.is_authenticated %}
                    {% if request.amount > 10000 and  user.user.usertype == 'iu_sm' %}
                        <tr>
                            <td>{{ request.merchant.user.username }}</td>
                            <td>{{ request.client1.user.username }}</td>
                            <td>
                                {% if request.transaction_type == 'transfer' and request.client2 %}
                                    {{ request.client2.user.username }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>{{ request.status }}</td>
                            <td>{{ request.initiated|date:"F d, Y H:i" }}</td>
                            <td>{{ request.amount }}</td>
                            <td>{{ request.get_transaction_type_display }}</td>
                            <td>{{ request.otp_verified}}</td>
                            <td>
                                {% if request.status == 'pending' %}
                                    <form method="POST" action="{% url 'approve_payment_request' request.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">Approve</button>
                                    </form>
                                    <form method="POST" action="{% url 'decline_payment_request' request.id %}" style="margin-top: 10px;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Decline</button>
                                    </form>
                                    <!-- Modify action as a link -->
                                    <a href="{% url 'modify_payment_request' request.id %}" class="btn btn-warning" style="margin-top: 10px;">Modify</a>
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                        </tr>

                    {% elif request.amount <= 10000 %}
                        {% if user.user.usertype == 'iu_re' %}
                            <tr>
                                <td>{{ request.merchant.user.username }}</td>
                                <td>{{ request.client1.user.username }}</td>
                                <td>
                                    {% if request.transaction_type == 'transfer' and request.client2 %}
                                        {{ request.client2.user.username }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>{{ request.status }}</td>
                                <td>{{ request.initiated|date:"F d, Y H:i" }}</td>
                                <td>{{ request.amount }}</td>
                                <td>{{ request.get_transaction_type_display }}</td>
                                <td>{{ request.otp_verified}}</td>
                                <td>
                                    {% if request.status == 'pending' %}
                                        <form method="POST" action="{% url 'approve_payment_request' request.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success">Approve</button>
                                        </form>
                                        <form method="POST" action="{% url 'decline_payment_request' request.id %}" style="margin-top: 10px;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Decline</button>
                                        </form>
                                        <!-- Modify action as a link -->
                                        <a href="{% url 'modify_payment_request' request.id %}" class="btn btn-warning" style="margin-top: 10px;">Modify</a>
                                    {% else %}
                                        ---
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% empty %}
                <tr>
                    <td colspan="9">No payment requests found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



</div>
</body>
</html>

{% endblock %}
