{% extends 'users/base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/users/asset/css/approve_profile_update.css">
    <title>Document</title>
</head>
<body>

    <div class="container forget-password">
        {% if account_delete_requests %}
        {% for request in account_delete_requests %}
        <div class="card">
            <div class="card-header">
                Request by: {{ request.user }}
            </div>
            <div class="card-body">
                <p><strong>Account Type: </strong>{{request.data.account_type}}</p>
                <p><strong>Modification Status: </strong>{{request.data.modification_status}}</p>
                
            </div>
            <div class="card-footer">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ forloop.counter0 }}">
                    <button type="submit" name="action" value="approve" class="submit-button">Approve</button>
                    <button type="submit" name="action" value="reject" class="cancel-button">Reject</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="card">
            <p><strong>No Account Deletion Requests.</strong></p>
        </div>
        {% endif %}
    </div>
</body>
</html>

{% endblock %}
