{% extends 'users/base.html' %}

{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve Registration</title>
    <link rel="stylesheet" href="../../static/users/asset/css/approve_registrations.css">
</head>

<body>
    <div class="container forget-password">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2 class="text-center">All Requests</h2>
                            <form method="post" class="debit-form">
                                {% csrf_token %}
                                <ul>
                                    {% for form_data in registration_forms %}
                                    <li>
                                        {{ form_data.username }} ---
                                        {% for key, value in user_types.items%}
                                        {% if key == form_data.usertype %}
                                        {{ value }}
                                        {% endif %}
                                        {% endfor %}
                                        <select name="{{ form_data.username }}">
                                            <option value="pending">Pending</option>
                                            <option value="approved">Approve</option>
                                            <option value="rejected">Deny</option>
                                        </select>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <button type="submit" class="submit-button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html> -->
{% if regitration_requests %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for request in regitration_requests %}
        <li>
            Data: {{ request.data }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="request_id" value="{{ forloop.counter0 }}">
                <button type="submit" name="action" value="approve">Approve</button>
                <button type="submit" name="action" value="reject">Reject</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No Account Deletion requests.</p>
    {% endif %}
</body>
</html>



{% endblock %}