{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/users/asset/css/approve_registrations.css">
    <title>Approve Profile Deletion</title>
</head>
<body>
    <!-- <div class="blog-slider" style="margin-top: 150px;height: 500px;">
        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__text">
                <div class="blog-slider__title">
                    <p>{{ user.username }}</p>
                </div>
                <form id="create_blog" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formset.as_p }}
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    <a class="btn btn-danger mt-3" href="{% url 'mugiwara' %}" role="button">Cancel</a>
                </form>
    
            </div>
    
    
        </div>
    </div> -->
    <div class="container forget-password">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2 class="text-center">Profile Deletion Requests</h2>
                            
                            <!-- <form class="debit-form">
                                            <div class="input-group mb-3">
                                        
                                                <span class="input-group-text">$</span>
                                                <input type="number" class="form-control " aria-label="Withdraw Amount:" required>
                                            </div>
                                            <button type="submit" class="withdraw-button">Withdraw</button>
                                        </form> -->
    
                            <!-- <form method="post" class="debit-form">
                                {% csrf_token %}
                                <ul>
                                    {% for form_data in registration_forms %}
                                    <li>
                                        {{ form_data.username }} ---
                                        {% for key, value in user_types.items%}
                                        {% if key == form_data.usertype %}
                                        {{ value }}
                                        {% endif %}
                                        {% endfor %}
                                        <select name="{{ form_data.username }}">
                                            <option value="pending">Pending</option>
                                            <option value="approved">Approve</option>
                                            <option value="rejected">Deny</option>
                                        </select>
                                    </li>
                                    {% endfor %}
                                </ul>
                                
                                <button type="submit" class="submit-button">Submit</button>
                            </form> -->
                            {% if formset.forms %}
                            <p>{{ user.username }}</p>
                            <form id="create_blog" method="POST" enctype="multipart/form-data" class="debit-form">
                                {% csrf_token %}
                                {{ formset.as_p }}
                                <button type="submit" class="submit-button">Approve</button>
                                <a href="/" class="cancel-button">Cancel</a>
                            </form>
                            {% else %}
                            <p><strong>No profile deletion requests at the moment.</strong></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}