{% extends 'users/base.html' %}

{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve Registration</title>
    <link rel="stylesheet" href="../../static/users/asset/css/approve_registrations.css">
</head>

<body>
    <div class="container forget-password">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2 class="text-center">All Requests</h2>
                            <form method="post" class="debit-form">
                                {% csrf_token %}
                                <ul>
                                    {% for form_data in registration_forms %}
                                    <li>
                                        {{ form_data.username }} ---
                                        {% for key, value in user_types.items%}
                                        {% if key == form_data.usertype %}
                                        {{ value }}
                                        {% endif %}
                                        {% endfor %}
                                        <select name="{{ form_data.username }}">
                                            <option value="pending">Pending</option>
                                            <option value="approved">Approve</option>
                                            <option value="rejected">Deny</option>
                                        </select>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <button type="submit" class="submit-button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/users/asset/css/approve_profile_update.css">
    <title>Document</title>
</head>
<body>
    <div class="container forget-password">
        {% if regitration_requests %}
        {% for request in regitration_requests %}
        <div class="card">
            <div class="card-header">
                Request by: {{ request.data.first_name }}
            </div>
            <div class="card-body">
                <p><strong>First Name: </strong>{{request.data.first_name}}</p>
                <p><strong>Last Name: </strong>{{request.data.last_name}}</p>
                <p><strong>Email: </strong>{{request.data.email}}</p>
                <p><strong>Username: </strong>{{request.data.username}}</p>
                <p><strong>User Type: </strong>{{request.data.usertype}}</p>
                <p><strong>Approval Status: </strong>{{request.data.user_approval}}</p>
                
            </div>
            <div class="card-footer">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ forloop.counter0 }}">
                    <button type="submit" name="action" value="approve" class="submit-button">Approve</button>
                    <button type="submit" name="action" value="reject" class="cancel-button">Reject</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
    
        
            <p class="no-requests"><strong>No Registration Approval Requests at the moment</strong></p>
        
        {% endif %}
    </div>
</body>
</html>



{% endblock %}