{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Approve Payment Request</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Payment Request Details</h5>
            <p class="card-text">From: {{ payment_request.merchant.user.username }}</p>
            <p class="card-text">Amount: {{ payment_request.amount }}</p>
            <p class="card-text">Type: {{ payment_request.get_transaction_type_display }}</p>
            {% if payment_request.transaction_type == 'transfer' %}
            <p class="card-text">To: {{ payment_request.client2.user.username }}</p>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <button name="approve" type="submit" class="btn btn-success">Approve</button>
                <button name="reject" type="submit" class="btn btn-danger">Reject</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
