{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mugiwara</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'users/assets1/css/styles.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'users/asset/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/asset/css/login_register.css' %}">

</head>

<body><!-- Start: Dark NavBar -->
    {% if user.is_authenticated %}
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button"
            style="height:80px;background-color:#5546ab;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="{% url  'mugiwara' %}">Mugiwara</a><button
                    data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                        class="visually-hidden">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">

                        {% if user.user.usertype == 'eu_cust' %}
                        {% if user.user.banking_user.exists %}
                        <!-- <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="{% url 'credit' user.id %}">
                                            <i class="fa fa-money"></i>&nbsp;Deposit</a></li> -->
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="/credit"><i
                                    class="fa fa-money"></i>&nbsp;Deposit</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="/debit"><i
                                    class="fa fa-money"></i>&nbsp;Withdraw</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="/create_transaction"><i
                                    class="fa fa-exchange"></i>&nbsp;Transfer</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="{% url 'accounts' %}"><i
                                    class="fa fa-user"></i>&nbsp;Accounts</a></li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:#ffffff;" href="#"
                                id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Account
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'accounts' %}">View Accounts</a></li>
                                <li><a class="dropdown-item" href="{% url 'account-delete' %}">Delete</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="/user_transactions"><i
                                    class="fa fa-user"></i>&nbsp;My Transactions</a></li>
                        {% endif %}

                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;"
                                href="{% url 'create-account' %}"><i class="fa fa-user"></i>&nbsp;Request New
                                Account</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:#ffffff;" href="#"
                                id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Profile
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'update-profile' %}">Update</a></li>
                                <li><a class="dropdown-item" href="{% url 'profile-deletion' %}">Delete</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <form id="frm_logout" class="nav-link" style="color:#ffffff;" action="{% url 'logout' %}"
                                method="post">
                                {% csrf_token %}
                                <a style="color:#ffffff;" href="javascript:{}"
                                    onclick="document.getElementById('frm_logout').submit(); return false;">
                                    <i class="fa fa-sign-in"></i>&nbsp;Logout</a></iclass>
                            </form>
                            <!-- -->
                        </li>
                        {% elif user.user.usertype == 'iu_sa' %}
                        <!-- <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="{% url 'user-approvals' %}">
                                        <i class="fa fa-money"></i>&nbsp;Users/Accounts</a></li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:#ffffff;" href="#"
                                id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Users
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'user-approvals' %}">Registration
                                        Approvals</a></li>
                                <li><a class="dropdown-item" href="{% url 'approve-profile-deletion' %}">Deletion
                                        Approvals</a></li>
                                <li><a class="dropdown-item" href="{% url 'profile-approvals' %}">Update Approvals</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;"
                                href="{% url 'account-approvals' %}"><i
                                    class="fa fa-money"></i>&nbsp;AccountApproval</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;"
                            href="{% url 'approve-account-deletion' %}"><i
                                class="fa fa-money"></i>&nbsp;AccountDeletion</a></li>

                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i
                                    class="fa fa-user"></i>&nbsp;Profile</a></li>
                        <li class="nav-item">
                            <form id="frm_logout" class="nav-link" style="color:#ffffff;" action="{% url 'logout' %}"
                                method="post">
                                {% csrf_token %}
                                <a style="color:#ffffff;" href="javascript:{}"
                                    onclick="document.getElementById('frm_logout').submit(); return false;">
                                    <i class="fa fa-sign-in"></i>&nbsp;Logout</a></iclass>
                            </form>
                            <!-- -->
                        </li>
                        {% elif user.user.usertype == 'eu_mo' %}
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="{%url 'submit_payment_request'%}">
                                <i class="fa fa-money"></i>&nbsp;Payment Requests</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="{%url 'merchant_transaction_history'%}"><i
                                    class="fa fa-money"></i>&nbsp;Merchant Transaction History</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="{%url 'modify_user_personal_data'%}"><i
                                    class="fa fa-money"></i>&nbsp;Modify User Data</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-user"></i>&nbsp;Profile</a>
                        </li>
                        <li class="nav-item">
                            <form id="frm_logout" class="nav-link" style="color:#ffffff;" action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <a style="color:#ffffff;" href="javascript:{}"
                                    onclick="document.getElementById('frm_logout').submit(); return false;">
                                    <i class="fa fa-sign-in"></i>&nbsp;Logout</a></iclass>
                            </form>
                            <!-- -->
                        </li>


                        {% elif user.user.usertype == 'iu_re' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:#ffffff;" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Approvals
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'user-approvals' %}">Registration
                                        Approvals</a></li>
                                <li><a class="dropdown-item" href="{% url 'profile-approvals' %}">Update Approvals</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="{%url 'all_transactions'%}"><i
                                    class="fa fa-user"></i>&nbsp;Transaction Approvals</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:#ffffff;" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'update-profile' %}">Update</a></li>
                            <li><a class="dropdown-item" href="{% url 'profile-deletion' %}">Delete</a></li>
                        </ul>
                    </li>
                        <li class="nav-item">
                            <form id="frm_logout" class="nav-link" style="color:#ffffff;" action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <a style="color:#ffffff;" href="javascript:{}"
                                    onclick="document.getElementById('frm_logout').submit(); return false;">
                                    <i class="fa fa-sign-in"></i>&nbsp;Logout</a></iclass>
                            </form>
                            <!-- -->
                        </li>

                        {% elif user.user.usertype == 'iu_sm' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:#ffffff;" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Approvals
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'user-approvals' %}">Registration
                                        Approvals</a></li>
                                <li><a class="dropdown-item" href="{% url 'profile-approvals' %}">Update Approvals</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="{%url 'all_transactions'%}"><i
                                    class="fa fa-user"></i>&nbsp;Transaction Approvals</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-user"></i>&nbsp;Profile</a>
                        </li>
                        <li class="nav-item">
                            <form id="frm_logout" class="nav-link" style="color:#ffffff;" action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <a style="color:#ffffff;" href="javascript:{}"
                                    onclick="document.getElementById('frm_logout').submit(); return false;">
                                    <i class="fa fa-sign-in"></i>&nbsp;Logout</a></iclass>
                            </form>
                            <!-- -->
                        </li>

                                    {% else %}


                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="all_transactions">
                                <i class="fa fa-money"></i>&nbsp;Transactions Approval</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;"
                                href="profile_approvals/"><i class="fa fa-money"></i>&nbsp;Profile Approval</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="{#}"><i
                                    class="fa fa-user"></i>&nbsp;Profile</a></li>
                        <li class="nav-item">
                            <form id="frm_logout" class="nav-link" style="color:#ffffff;" action="{% url 'logout' %}"
                                method="post">
                                {% csrf_token %}
                                <a style="color:#ffffff;" href="javascript:{}"
                                    onclick="document.getElementById('frm_logout').submit(); return false;">
                                    <i class="fa fa-sign-in"></i>&nbsp;Logout</a></iclass>
                            </form>
                            <!-- -->
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    </div><!-- End: Dark NavBar -->
    {% endif %}


    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger">
        {% else %}
        <div class="alert alert-{{ message.tags }}">
            {% endif %}
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}

        <script src="{% static 'users/assets1/js/script.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="{% static 'users/asset/js/main.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/7dd09abcb0.js" crossorigin="anonymous"></script>
</body>

</html>
