{% extends 'users/base.html' %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="../../static/users/asset/css/login_register.css">
{% endblock %}
{% block content %}
<!-- <div class="container">
    <h2>Change Password</h2>
    <p>Please enter your new password and confirm it.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div> -->

<div class="container-fluid">
    <div class="row mh-100vh">
        <div class="col"><!-- Start: Login Box [En] -->
            <div class="d-flex flex-column justify-content-center" id="login-box">
                <div class="login-box-header">
                    <h2 style="color:rgb(139,139,139);margin-bottom:0px;font-weight:400;font-size:27px;">Change Password
                    </h2>
                    <p>Please enter your new password and confirm it.</p>
                </div>
                <div class="login-box-content">
                    <!-- <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-theme mt-3 btn-custom">Submit</button>
                    </form> -->
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>


            </div><!-- End: Login Box [En] -->
        </div>
    </div>
</div>
{% endblock %}
