{% extends 'users/base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/users/asset/css/contact_form.css">
    <title>Contact Us</title>
</head>
<body>
    <!-- <form method="post" action="{% url 'contact' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form> -->

    <div class="container forget-password">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="../../static/users/asset/images/Contact Us.webp" alt="car-key">
                            
                            
                            <!-- <form class="debit-form">
                                <div class="input-group mb-3">
    
                                    <span class="input-group-text">$</span>
                                    <input type="number" class="form-control " aria-label="Withdraw Amount:" required>
                                </div>
                                <button type="submit" class="withdraw-button">Withdraw</button>
                            </form> -->
                            <form method="post" action="{% url 'contact' %}" class="debit-form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="withdraw-button">Submit</button>
                                <a class="cancel-button" href="{% url 'mugiwara' %}" role="button">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}