{% extends 'users/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debit Account</title>
</head>
<body>
    <h1>Debit Account</h1>

    <form method="post" action="{% url 'debit_view' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Debit</button>
    </form>
</body>
</html>
{%endblock%}