{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<!-- HERO -->
<section id="hero" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 data-aos="fade-left" class="text-uppercase text-white fw-semibold display-1">Welcome to
                    Mugiwara's
                </h1>
                <h5 class="text-white mt-3 mb-4" data-aos="fade-right">Banking Beyond Boundaries: Your Partner in
                    Every Journey</h5>
                <div data-aos="fade-up" data-aos-delay="50">
                    {% if not user.is_authenticated %}
                    <a href="{% url 'signup' %}" class="btn btn-brand me-2">Sign Up</a>
                    <a href="{% url 'login' %}" class="btn btn-light ms-2">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT -->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="50">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">About us</h1>
                    <div class="line"></div>
                    <p>"The Bank That Prioritizes Your Peace of Mind. Where Security
                        Meets Innovation, Ensuring Your Financial Journey is Safe and Sound."</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6" data-aos="fade-down" data-aos-delay="50">
                <img src="{% static 'users/asset/images/about.jpg' %}" alt="">
            </div>
            <div data-aos="fade-down" data-aos-delay="150" class="col-lg-5">
                <h1>About Mugiwara's</h1>
                <p class="mt-3 mb-4">We Secure Your Tomorrow Today.</p>
                <div class="d-flex pt-4 mb-3">
                    <div class="iconbox me-4">
                        <i class="ri-mail-send-fill"></i>
                    </div>
                    <div>
                        <h5>Innovative Security</h5>
                        <p>Where Cutting-Edge Technology Protects Your Wealth.</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="iconbox me-4">
                        <i class="ri-user-5-fill"></i>
                    </div>
                    <div>
                        <h5>Personalized Banking</h5>
                        <p>Tailored Solutions for Every Aspect of Your Financial Life</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="iconbox me-4">
                        <i class="ri-rocket-2-fill"></i>
                    </div>
                    <div>
                        <h5>Global Reach, Local Touch</h5>
                        <p>World-Class Services with a Personalized Approach.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SERVICES -->
<section id="services" class="section-padding border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Awesome Services</h1>
                    <div class="line"></div>
                    <p>We love to craft digital experiances for brands rather than crap and more lorem ipsums and do
                        crazy skills</p>
                </div>
            </div>
        </div>
        <div class="row g-4 text-center">
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="150">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-pen-nib-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Transaction Encryption Protocol</h5>
                    <p>We protect every transaction with state-of-the-art encryption, keeping your financial dealings
                        secure and confidential.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="250">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-stack-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Continuous Fraud Surveillance</h5>
                    <p>Our dedicated team monitors your accounts around the clock, actively preventing fraud and
                        unauthorized access.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="350">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-ruler-2-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Virtual Card Services</h5>
                    <p>For safer online shopping, use our virtual card feature to create a temporary card number, adding
                        a layer of security to your e-commerce transactions.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="450">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-pie-chart-2-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Phishing Defense Code</h5>
                    <p>Set a personal anti-phishing code for your account to ensure that communications you receive from
                        us are genuine and secure.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="550">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-code-box-line"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Biometric Banking Access</h5>
                    <p>Access your accounts swiftly and securely using our biometric login features, incorporating
                        fingerprint and facial recognition technologies.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="650">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-user-2-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Fortified Multi-Factor Authenticationn</h5>
                    <p>Our bank prioritizes your security by requiring multiple forms of verification, ensuring only you
                        can access your account.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- COUNTER -->
<section id="counter" class="section-padding">
    <div class="container text-center">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="150">
                <h1 class="text-white display-4">90,000+</h1>
                <h6 class="text-uppercase mb-0 text-white mt-3">Total Accounts Opened</h6>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="250">
                <h1 class="text-white display-4">58K+</h1>
                <h6 class="text-uppercase mb-0 text-white mt-3">Satisfied Clients</h6>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="350">
                <h1 class="text-white display-4">5M+</h1>
                <h6 class="text-uppercase mb-0 text-white mt-3">Transactions Processed:</h6>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="450">
                <h1 class="text-white display-4">100+</h1>
                <h6 class="text-uppercase mb-0 text-white mt-3">Dedicated Team Members</h6>
            </div>
        </div>
    </div>
</section>

<!-- TEAM -->
<section id="team" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Team Members</h1>
                    <div class="line"></div>
                    <p>We love to craft digital experiances for brands rather than crap and more lorem ipsums and do
                        crazy skills</p>
                </div>
            </div>
        </div>
        <div class="row g-4 text-center ">
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="{% static 'users/asset/images/person-0.jpg' %}" alt="">
                    </div>
                    <div class="team-member-content">
                        <h4 class="text-white">Nikhil Kulkarni</h4>
                        <p class="mb-0 text-white">Full-Stack Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="{% static 'users/asset/images/person-1.jpg' %}" alt="">
                    </div>
                    <div class="team-member-content">
                        <h4 class="text-white">Sagar Sahu</h4>
                        <p class="mb-0 text-white">Front-End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="{% static 'users/asset/images/person-2.JPG' %}" alt="">
                    </div>
                    <div class="team-member-content">
                        <h4 class="text-white">Jignesh Nagda</h4>
                        <p class="mb-0 text-white">Back-End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="{% static 'users/asset/images/person-3.jpg' %}" alt="">
                    </div>
                    <div class="team-member-content">
                        <h4 class="text-white">Chinmay Lotankar</h4>
                        <p class="mb-0 text-white">Back-End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="{% static 'users/asset/images/person-4.jpg' %}" alt="">
                    </div>
                    <div class="team-member-content">
                        <h4 class="text-white">Mihir Vaidya</h4>
                        <p class="mb-0 text-white">Front-End Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer class="bg-dark">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3 col-sm-6">
                    <a href="#"><img src="./assets/images/logo-white.svg" alt=""></a>
                    <div class="line"></div>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, hic!</p> -->
                    <div class="social-icons">
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                        <a href="#"><i class="ri-instagram-fill"></i></a>
                        <a href="#"><i class="ri-github-fill"></i></a>
                        <a href="#"><i class="ri-dribbble-fill"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">SERVICES</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">Transaction Encryption Protocol</a></li>
                        <li><a href="#">Continuous Fraud Surveillance</a></li>
                        <li><a href="#">Virtual Card Services</a></li>
                        <li><a href="#">Phishing Defense Code</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">ABOUT</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">Innovative Security</a></li>
                        <li><a href="#">Personalized Banking</a></li>
                        <li><a href="#">Global Reach, Local Touch</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">CONTACT</h5>
                    <div class="line"></div>
                    <ul>
                        <li>New York, NY 3300</li>
                        <li>(414) 586 - 3017</li>
                        <li>www.mugiwara.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row g-4 justify-content-between">
                <div class="col-auto">
                    <p class="mb-0">© Copyright Mugiwara. All Rights Reserved</p>
                </div>
                <div class="col-auto">
                    <p class="mb-0">Designed with 💜 By Mugiwara Team></p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}

