{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'users/asset/css/login_register.css' %}">
{% endblock %}

{% block content %}

<!-- Start: ♣ Login form Page BS4 ♣ -->
<div class="container-fluid">
    <div class="row mh-100vh">
        <div class="col"><!-- Start: Login Box [En] -->
            <div class="d-flex flex-column justify-content-center" id="login-box">
                <div class="login-box-header">
                    <h4 style="color:rgb(139,139,139);margin-bottom:0px;font-weight:400;font-size:27px;">Login</h4>
                </div>
                <div class="login-box-content">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <a href="#l" class="forgot-link float-right text-primary">Forgot password?</a><br>
                        <button type="submit" class="btn btn-theme mt-3 btn-custom">Login</button>

                    </form>
                </div>

                <div id="login-box-footer" style="padding:10px 20px;padding-bottom:23px;padding-top:18px;">
                    <p style="margin-bottom:0px;">Don't you have an account?<a id="register-link"
                            href="{% url 'signup' %}">Sign
                            Up!</a></p>
                </div>
            </div><!-- End: Login Box [En] -->
        </div>
    </div>
</div><!-- End: ♣ Login form Page BS4 ♣ -->
{% endblock %}