{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="../../static/users/asset/css/profile_update.css">
</head>
<body>
    
</body>
</html>
<!-- <div class="blog-slider" style="margin-top: 150px;height: 500px;">
    <div class="blog-slider__wrp swiper-wrapper">
        <div class="blog-slider__text">
            <div class="blog-slider__title">
                <p>{{ user.username }}</p>
            </div>
            <form id = "create_blog"  method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form|crispy }}
                
                <button type="submit" class="btn btn-primary mt-3">Update</button>
                <a class="btn btn-danger mt-3" href="{% url 'mugiwara' %}" role="button">Cancel</a>
            </form>  
        </div>
        

    </div>
</div> -->

<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="../../static/users/asset/images/profile.jpeg" alt="car-key" border="0">
                        <h2 class="text-center text-uppercase">{{ user.username }}</h2>
                        
                        <!-- <form class="debit-form">
                                    <div class="form-group">
                                            <label for="withdrawAmount">Withdraw Amount:</label>
                                            <input type="number" id="withdrawAmount" value="" class="withdraw-input" required />
                                        </div>
                                    <div class="input-group mb-3">
        
                                        <span class="input-group-text">$</span>
                                        <input type="number" class="form-control " aria-label="Withdraw Amount:" required>
                                    </div>
                                    <button type="submit" class="withdraw-button">Withdraw</button>
                                </form> -->
                        <form id="create_blog" method="POST" enctype="multipart/form-data" class="debit-form">
                            {% csrf_token %}
                        
                            {{ form|crispy }}
                        
                            <button type="submit" class="submit-button">Update</button>
                            <a class="cancel-button" href="{% url 'mugiwara' %}" role="button">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}