{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">{{ user.username }}</h2>
                </div>
                <div class="card-body">
                    <form id="create_blog" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ u_form|crispy }}
                        {{ b_form|crispy }}
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary mr-2">Update</button>
                            <a class="btn btn-danger" href="{% url 'mugiwara' %}" role="button">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}