{% extends 'users/base.html' %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="../../static/users/asset/css/verify_otp.css">
{% endblock %}
{% block content %}
<!-- <div class="container">
    <h2>Reset Password</h2>
    <p>An OTP has been sent to your email address. Please enter it below to verify your identity and continue.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Verify OTP</button>
    </form>
</div> -->

<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="../../static/users/asset/images/otp.jpeg" alt="car-key" border="0">
                        <h2 class="text-center">Reset Password</h2>
                        <p>An OTP has been sent to your email address. Please enter it below to verify your identity and continue.</p>

                        <form method="POST" class="debit-form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="withdraw-button">Verify OTP</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
