{% extends 'users/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/users/asset/css/verify_otp.css">
    <style>
        #keyboard {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin-top: 10px;
        }

        .keyboard-btn {
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #d4d4d4;
            cursor: pointer;
        }

        .btn-primary {
            display: block;
            width: auto;
            margin-top: 20px;
            padding: 10px 20px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <title>Reset Password</title>
</head>
<body>
    <div class="container forget-password">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="../../static/users/asset/images/otp.jpeg" alt="car-key" border="0">
                            <h2 class="mt-5">Reset Password</h2>
                            <p>An OTP has been sent to your email address. Please enter it below to verify your identity and continue.</p>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <label for="otp">Enter OTP:</label>
                                    <input type="text" id="otp" name="otp" readonly>
                                    <div id="keyboard"></div>
                                </div>
                                <button type="submit" class="btn btn-primary withdraw-button">Verify OTP</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <h2></h2>
        <p>An OTP has been sent to your email address. Please enter it below to verify your identity and continue.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <label for="otp">Enter OTP:</label>
                <input type="text" id="otp" name="otp" readonly>
                <div id="keyboard"></div>
            </div>
            <button type="submit" class="btn btn-primary">Verify OTP</button>
        </form> -->


    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const inputField = document.getElementById('otp');
            const keyboard = document.getElementById('keyboard');

            '0123456789'.split('').forEach(char => {
                let btn = document.createElement('button');
                btn.textContent = char;
                btn.type = 'button'; // Prevents the form from submitting when clicked
                btn.onclick = function() { inputField.value += this.textContent; };
                btn.classList.add('keyboard-btn');
                keyboard.appendChild(btn);
            });

            let backspace = document.createElement('button');
            backspace.textContent = '←';
            backspace.type = 'button'; // Also prevents the form from submitting
            backspace.onclick = function() {
                inputField.value = inputField.value.slice(0, -1);
            };
            backspace.classList.add('keyboard-btn');
            keyboard.appendChild(backspace);
        });
    </script>
</body>
</html>

{% endblock %}
