{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/users/asset/css/user_transactions.css">
    <title>User Transactions</title>
</head>
<body>
    <div class="container mt-5">
    <h1 class="mt-5 all_transactions">All Transactions</h1>
    <p class="account_balance lead align-middle balance">Current Account Balance: ${{ account_balance }}</p>
    <h2> Transactions </h2>
    <table id="user_transactions" class="table table-bordered shadow p-3 mb-5 bg-white rounded table-striped" data-aos="fade-down" data-aos-delay="50">
        <thead class="table-dark">
            <tr>
                <th>From Account</th>
                <th>To Account</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Initiated</th>
                <th>Status Changed</th>
                <th>Transaction Type</th>
                <th>OTP Verified</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.from_account }}</td>
                <td>{{ transaction.to_account }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.transaction_status }}</td>
                <td>{{ transaction.initiated }}</td>
                <td>{{ transaction.status_changed }}</td>
                <td>{{ transaction.transaction_type }}</td>
                <td>{{transaction.otp_verified}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No transaction requests found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<h2>Payment Requests</h2>
<table id="user_transactions" class="table table-bordered shadow p-3 mb-5 bg-white rounded table-striped"
    data-aos="fade-down" data-aos-delay="50">
    <thead class="table-dark">
        <tr>
            <th>Merchant</th>
            <th>Client 1</th>
            <th>Client 2</th>
            <th>Transaction Type</th>
            <th>Status</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for request in payment_requests %}
        <tr>
            <td>{{ request.merchant.user.username }}</td>
            <td>{{ request.client1.user.username }}</td>
            <td>{% if request.client2 %}
                {{ request.client2.user.username }}
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>{{ request.get_transaction_type_display }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.amount }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No transaction requests found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</div>

</body>

</html>
{% endblock %}
